@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* border: solid red; */
    background-color: #252525;
    color: white;
    display: flex;
    width: 100;
    height: 9.5vh;
    justify-content: space-around;
    align-items: center;
    
    
}

.ladoEsquerdo {
    /* border: solid yellow; */
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 900px;
    
}

.ladoEsquerdo img{
    width: 15%;
}

.ladoDireito {
    /* border: solid yellow; */
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 50px;
    

}

.ladoDireito img{
    width: 15%;
}

.sessaoDog1 {
    width: 100%;
    height: 100vh;
    background-image: url(assets/Dog1.png);
    background-size: 100% 100vh;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* display: flex;
    justify-content: space-around; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: top;
    
    
}

.textoDog1{
    color: white;
    font-size: 3rem;
    text-align: center;
    /* border: solid black; */
    width: 55%;
    /* margin-left: 25%; */
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', serif;
    font-style: normal;
    margin-top: 8%;
          
}

.patinha{
    /* border: solid black; */
    width: 9%;
    /* margin-left: 45%; */
    margin-top: 2%;
    
}

.sessaoDog2{
    width: 100%;
    height: 100vh;
    background-image: url(assets/Dog2.png);
    background-size: 100% 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
}


.tituloDog2{
    /* border: solid black; */
    color: #3A342F;
    font-size: 2rem;
    text-align: left;
    width: 50%;
    margin-left: 5%;
    font-family: 'Roboto Serif', serif;
}

.textoDog2{
    /* border: solid black; */
    color: #3A342F;
    font-size: 2rem;
    text-align: left;
    width: 40%;
    margin-left: 5%;
    text-align: left;
    /* font: normal normal normal 27px/42px Roboto; */
    font-family: 'Roboto';
    color: #3A342F;
    
}

.sessaoDog3{
    width: 100%;
    height: 100vh;
    background-image: url(assets/Dog3.png);
    background-size: 100% 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.tituloDog3{
    /* border: solid black; */
    color: #FFFFFF;
    font-size: 2rem;
    text-align: left;
    width: 20%;
    margin-right: 23%;
    font-family: 'Roboto Serif', serif;
}

.textoDog3{
    /* border: solid black; */
    color: #FFFFFF;
    font-size: 2rem;
    width: 28%;
    margin-right: 15%;
    text-align: left;
    font-family: 'Roboto';
    margin-top: 2%;
    
    
}

.apoiadores{
    /* border: solid yellow; */
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30%;
        
}

.apoiadores i{
    color: #FD6A9A;
    font-size: 2.3rem;
    font-family: 'Roboto', 'Serif';
    /* border: solid blue; */
    width: 20%;

}

.imagemApoiadores{
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
    width: 160%;
    list-style: none;
    align-items: center;

}

.imagemApoiadores img{
    /* width: 100%; */
   
}




/* Botões */

.button1 {
    width: 11vw;
    height: 7vh;
    background-color: black;
    font-weight: 700;
    color: white;
    font-size: 1.2rem;
    border-radius: 44px;
    position: relative;
    top: 3rem;
    left: 4.5%;
    font-family: 'Roboto Serif';
  }

  .button2 {
    width: 11vw;
    height: 7vh;
    background-color: white;
    font-weight: 700;
    color: black;
    font-size: 1.2rem;
    border-radius: 44px;
    position: relative;
    top: 3rem;
    right: 32%;
    font-family: 'Roboto Serif';
  }


  /* FOOTER */

  